JobAppData/Job App Data/Service References/OmicronService/OmicronService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="UserType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="USER" />
      <xs:enumeration value="ADMIN" />
      <xs:enumeration value="INVALID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserType" nillable="true" type="tns:UserType" />
  <xs:complexType name="ArrayOfAppDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppDataContract" nillable="true" type="tns:AppDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppDataContract" nillable="true" type="tns:ArrayOfAppDataContract" />
  <xs:complexType name="AppDataContract">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="AppDataContract" nillable="true" type="tns:AppDataContract" />
</xs:schema>