JobAppData/Job App Data/Service References/OmicronService/OmicronService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:39554/OmicronService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:39554/OmicronService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WebService" />
  <xs:complexType name="ArrayOfAppDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppDataContract" nillable="true" type="tns:AppDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppDataContract" nillable="true" type="tns:ArrayOfAppDataContract" />
  <xs:complexType name="AppDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Changeable" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateSubmitted" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppDataContract" nillable="true" type="tns:AppDataContract" />
  <xs:complexType name="ValidUserContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="GUID" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebService" minOccurs="0" name="UserType" type="q1:UserType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidUserContract" nillable="true" type="tns:ValidUserContract" />
</xs:schema>